algoliasearch==1.8.0
algoliasearch-django==1.2.3
cffi==1.5.2
cryptography==1.3.1
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.9.4
gunicorn==19.6.0
idna==2.1
ndg-httpsclient==0.4.0
oauthlib==1.0.3
Pillow==3.2.0
pyasn1==0.1.9
pycparser==2.14
PyJWT==1.4.0
pyOpenSSL==16.0.0
python-social-auth==0.2.14
python3-openid==3.0.10
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
whitenoise==3.1
psycopg2==2.6.1