{% extends "base.html" %}
{% load static%}
{%block content %}

<div class="container" style="min-height: 400px">

	<h4>Estas viendo los juegos de la categoria {{c.nombre}}</h4>
	<div class="row">
		<div class="col s12 l10 centrado">
			{% if j %}
			{% for registro_juego in j %}
				<div class="col s12 m4 l4">
					<span class="juego_reciente"><a href="../detalle/{{registro_juego.slug}}"><img src="/static/{{registro_juego.imagen}}" class="imagen_juego_module" alt=""/></a>
					<br><a class="renta_boton" href="../detalle/{{registro_juego.slug}}">Ver juego</a></span><br>		
				</div>
			{% endfor %}

			{% else %}
			<p>
			No hay juegos
			</p>
			{%endif%}
		</div>
	</div>


</div>


{%endblock content%}