{% extends "base.html" %}
{% load static%}
{%block content %}

<div class="container">
	<div class="row">
		<div class="col s12 m12 l6">
			<img src="/static/{{juego.imagen}}" alt="" class="imagen_juego_detalle">
		</div>	
		<div class="col s12 m12 l6">
			<div class="row">
				<h4>{{juego.titulo}}</h4>
				<p class="dueno_juego"> Por: {{juego.usuario}}</p>
			</div>
			<div class="row main_detalle">
				<span class="texto_renta">Rentalo por:</span>
				<span> <button class="boton_renta">${{juego.precio_renta}}</button></span>
				<span class="texto_deposito">Deposito: <span class="cantidad_deposito">${{juego.deposito}}</span> </span>
			</div>
			<div class="row">
				<span class="texto_ubicacion">Ubicación: </span><span class="ubicacion_juego">{{juego.ubicacion}}</span><br>
				<span class="texto_consola">Consola: </span><span class="plataforma_juego">{{juego.plataforma}}</span><br>
				<span class="texto_descripcion">Descripción: </span><span class="descripcion_juego">{{juego.descripcion}}</span>
			</div>

			
		</div>
	</div>
</div>
{%endblock content%}