{% extends "base.html" %}
{% load static%}

{%block nav%}
<nav class="nav-home">
    <div class="nav-wrapper">
	  <a href="{%url 'main:home' %}" class="brand-logo"><img src="{% static 'logo.png' %}" id="logo-home"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
		<li>

		{%if request.user.is_authenticated%}
		{# Hola {{request.user.username}}! #}

		<a id="callto-home" href="{%url 'juego:anuncio'%}"> {{request.user.username}} pon en renta tus juegos </a>


		{%else%}
		<a href="{%url 'social:begin' 'facebook'%}" class="facebook_login">entra con facebook</a>

		<a href="{%url 'social:begin' 'twitter'%}" class="twitter_login">entra con twitter</a>

		{%endif%}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="">Ver categorías</li>
        <li class="">¿Cómo funciona De Favor?</li>
        <li class="">Contacto</li>
      </ul>
    </div>
  </nav>
{%endblock nav%}

{% block content%}
<!-- .container is main centered wrapper -->

<!-- HOME splash screen -->
<div class="fullscreen" id="home-welcome">

	<div class="container">
		<div class="row">
			<div>
				<form>
				<div class="col s12 m12 offset-l1 l10  ">
					<h1>
					La plataforma de renta peer to peer, una descripción de nuestra plataforma y un call to action ganador.
					</h1>


				    <section class="panel">
				      <header class="panel-heading">
				        <div class="search_box">
				          <form action="#" method="get">
				            <input autocomplete="off" class=" input-field-home input-border autocomplete" id="q" placeholder="Encuentra un juego, renta y descubre una nueva aventura.." type="text" spellcheck="false" />
				          </form>
				        </div>
				      </header>
				    </section>

				</div>
				</form>
				<h1></h1><br>
   					 <div class="col s12 l0" id="hits"><br>
   					 </div>
			</div>


		<div class="row">
			
			<div class="col s12 offset-l1 l10 ">
				<div class="chip tag-home">
					<a href="../categoria/terror">Terror</a>
				</div>
				<div class="chip tag-home">
					<a href="../categoria/aventura" >Aventura</a>
				</div>
				<div class="chip tag-home">
					<a href="../categoria/carreras">Carreras</a>
				</div>
				<div class="chip tag-home">
					<a href="../categoria/terror">Terror</a>
				</div>
			</div>
		</div>

		</div>
	</div>
</div>

<!-- seccion de juegos recientes -->
<div class="container">
	<div id="juegos-destacados" class="row">
		<h5>Los Juegos más recientes:</h5>
	
	{% if jgo %}
		{% for j in jgo %}
		<div class="col s12 m4 l4">
			<span class="juego_reciente"><a href="../detalle/{{j.slug}}"><img src="/static/{{j.imagen}}" class="imagen_juego_module" alt=""/></a>
			<br><a class="renta_boton" href="../detalle/{{j.slug}}">Ver juego</a></span><br>		
		</div>
		{% endfor %}

	{% else %}
	<p>
		No hay juegos
	</p>
	{% endif %}
	</div>
	
	<div id="details" class="row">
		<h4>Los beneficios de nuestra plataforma:</h4>
		<ul>

			<li class="col s12 m4 l4"><img src="{% static 'icon1.jpg' %}" class="icon-home"><br>Gana dinero rentando los juegos que no utilizas</li>
			<li class="col s12 m4 l4"><img src="{% static 'icon2.jpg' %}" class="icon-home"><br>
			Juegos para todas las consolas: nuevas y retros</li>
			<li class="col s12 m4 l4"><img src="{% static 'icon3.jpg' %}" class="icon-home"><br>
			Renta para probar un juego antes de comprarlo</li>

		</ul>
	</div>

</div>

{% endblock content%}
