{% extends "base.html" %}
{% load static%}

{%block nav%}
<nav class="nav-home">
    <div class="nav-wrapper">
	  <a href="../home!" class="brand-logo"><img src="{% static 'logo.png' %}" id="logo-home"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
		<li>
			{% if request.user.is_authenticated %}
			  <li {% if section == "dashboard" %}class="selected"{% endif %}>
			<a href="{% url "cuentas:dashboard" %}">Mi Cuenta</a></li>
			{% endif %}

			{% if request.user.is_authenticated %}
			Hola {{ request.user.username }},
			<li><a href="{% url "cuentas:logout" %}">Logout</a></li>
			{% else %}
			<li><a href="{% url "cuentas:login" %}" class="login_home">Inicia Sesion</a>
				<li><a href="{% url "cuentas:register" %}" class="register_button">Registro</a></li>
				<li><a id="callto-home">Gana dinero pon en renta tus juegos </a></li>
			{% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Mobile</a></li>
      </ul>
    </div>
  </nav>
{%endblock nav%}

{% block content%}
<!-- .container is main centered wrapper -->

<!-- HOME splash screen -->
<div class="fullscreen" id="home-welcome">

	<div class="container">
		<div class="row">
			<div>
				<form>
				<div class="col s12 m12 offset-l1 l10  ">
					<h1>
					La plataforma de renta peer to peer, una descripción de nuestra plataforma y un call to action ganador.
					</h1>
					<input placeholder="Encuentra un juego, renta y descubre una nueva aventura.." id="first_name" type="text" class="input-field-home input-border validate">

				</form>

					</div>
				</form>
			</div>

		<div class="row">
			
			<div class="col s12 offset-l1 l10 ">
				<div class="chip tag-home">
					Aventura
				</div>
				<div class="chip tag-home">
					Acción
				</div>
				<div class="chip tag-home">
					Terror
				</div>
				<div class="chip tag-home">
					Carreras
				</div>
			</div>
		</div>

		</div>
	</div>
</div>

<!-- seccion de juegos recientes -->
<div class="container">
	<div id="juegos-destacados" class="row">
		<h5>Los Juegos más recientes:</h5>
	
	{% if jgo %}
		{% for j in jgo %}
		<div class="col s12 m4 l4">
			<span class="juego_reciente"><a href="../detalle/{{j.slug}}"><img src="/static/{{j.imagen}}" class="imagen_juego_module" alt=""/></a>
			<br><button class="renta_boton" href="../detalle/{{j.slug}}"> Ver juego</button></span><br>		
		</div>
		{% endfor %}

	{% else %}
	<p>
		No hay juegos
	</p>
	{% endif %}
	</div>
	
	<div id="details" class="row">
		<h4>Los beneficios de nuestra plataforma:</h4>
		<ul>

			<li class="col s12 m4 l4"><img src="{% static 'icon1.jpg' %}" class="icon-home"><br>Gana dinero rentando los juegos que no utilizas</li>
			<li class="col s12 m4 l4"><img src="{% static 'icon2.jpg' %}" class="icon-home"><br>
			Juegos para todas las consolas: nuevas y retros</li>
			<li class="col s12 m4 l4"><img src="{% static 'icon3.jpg' %}" class="icon-home"><br>
			Renta para probar un juego antes de comprarlo</li>

		</ul>
	</div>

</div>

{% endblock content%}
