{% extends "base.html" %}
{% load static%}
{% block content%}
<!-- .container is main centered wrapper -->


<div class="fullscreen" id="home-welcome">

	<div class="container">
		<div class="row">
			<h1>
			La plataforma de renta peer to peer, una descripción de nuestra plataforma y un call to action.
			</h1>

			<div>
				<form>
					<div class="input-field-home offset-l1 l10 ">
					<input placeholder="Encuentra un juego, renta y descubre una nueva aventura.." id="first_name" type="text" class="validate">

				</form>
					</div>
			</div>

		</div>
	</div>
</div>

<!-- seccion de juegos recientes -->
<div class="container">
	<div id="juegos-destacados" class="row">
		<h5>Los Juegos más rentados:</h5>
</div>
{% if jgo %}

	{% for j in jgo %}
		<img src="/static/{{j.imagen}}" alt="" />
	{% endfor %}

{% else %}
<p>
	No hay juegos
</p>
{% endif %}
<!-- FIN seccion de juegos recientes -->

	<div id="details" class="row">
		<h4>Los beneficios de nuestra plataforma:</h4>
		<ul>

			<li class="col s12 m4 l4"><img src="{% static 'icon1.jpg' %}" class="icon-home"><br>Gana dinero rentando los juegos que no utilizas</li>
			<li class="col s12 m4 l4"><img src="{% static 'icon2.jpg' %}" class="icon-home"><br>
			Juegos para todas las consolas: nuevas y retros</li>
			<li class="col s12 m4 l4"><img src="{% static 'icon3.jpg' %}" class="icon-home"><br>
			Renta para probar un juego antes de comprarlo</li>

		</ul>
	</div>

</div>

{% endblock content%}
