{% extends "base.html" %}
{% load static%}
{%block content %}


<div class="container">
	<div class="row login_display">
		<!-- <div class="col s12 m6 l6"> -->
			<a href="#"><img src="{% static 'store_icon.jpg'%}" alt="">  </a>
		</div>	
		<div class="col s12 m6 l6 login_display">
			<div class="row">
				<h4>Let´s Rock</h4>
			</div>

			<div>
				<a href="{%url 'social:begin' 'facebook'%}" class="facebook_login">entra con facebook</a>

           		<a href="{%url 'social:begin' 'twitter'%}" class="twitter_login">entra con twitter</a>
				
			</div>

			
		</div>
	</div>
</div>
{%endblock content%}
